body {
  background-color: #fff;
  background-image: url("./images/nikelogo3.jpg");
}

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  color: #fff;
}
h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  color: #fff;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;

}

td {
  border: solid 1px #A9A9A9;
  width: 150px;
  height: 150px;
  background-color: rgba(128, 128, 128, 0.4);
}
.show {
  display:inline;
}

.hide {
  display: none;
}

td img {
  width:152px;
  height: 152px;
  display: block;
}
.photo {
  display: none;
}





.nasty {
  display: block !important;
}


button {
  border-radius: 5px;
  border: solid 1 px #fff;
  background-color: rgba(128, 128, 128, 0.4);
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 20px;
  position: relative;
}
button.hover {
  background: #ae70b6;
}
